<div class="content">
  <div class="card">
    <div class="card-header">Govt. Medical College in Bolangir</div>
    <div class="card-body">
      <h5 class="card-title">Bhubaneswar, Aug. 12:</h5>
      <p class="card-text">
         Another case of dengue death was today reported from the SCB Medical
        College and Hospital in Cuttack, while swine flu has already claimed nine lives in the state this year.

        When the state is facing multiple health issues, a Bhubaneswar-based organisation, the Centre for Youth and
        Another major issue is lack of ambulance facilities and the people depend on their own bikes and bicycle, to
        to hospitals. Lack of ambulance facilities often turn out to be fatal for pregnant women. The status of 102 and
        108 ambulance services is in highly deteriorated condition and people have been grossly disappointed.

        CYSD co-founder Jagadananad said: “The study is an attempt to understand the nuances of the primary health care
        services provided at the grassroots and to gather the perceptions of the community regarding the services like
        access to health, infrastructure, human resources.”

        Delivery in auto-rickshaw

        A woman of Sunakhandi Tikarpada village in Kalyansighpur block of Rayagada district delivered a baby in an
        auto-rickshaw on her way to the hospital on Saturday. Her family members alleged that though they called the 102
        ambulance service to rush her to Kalyansinghpur Community Health Centre after she complained of labour pain, the
        ambulance did not turn up.</p>
      <p class="card-text">
        <small class="text-muted">published on 12 Aug 2017</small>
      </p>
      <po-news></po-news>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Govt. Medical College in Bolangir</div>
    <div class="card-body">
      <h5 class="card-title">Bolangir, Aug. 12:</h5>
      <p class="card-text">
         Another case of dengue death was today reported from the SCB Medical
        College and Hospital in Cuttack, while swine flu has already claimed nine lives in the state this year.

        When the state is facing multiple health issues, a Bhubaneswar-based organisation, the Centre for Youth and
        Social
        Development (CYSD), has conducted a survey on the issue and challenges of primary heath care facilities in the
        two
        most backward districts – Kalahanadi and Balangir. The survey reveals how people are still not getting basic
        health services, including ambulance services.

        The study was conducted in Balangir and Patnagarth constituencies of Balangir district and Narla and Junagarh
        constituencies of Kalahanadi district. The infamous Daana Majhi case that was reported last year, where Daana
        had
        to carry the body of his wife for nearly 12 kilometres after being unable to get the ambulance, was reported
        from
        Kalahandi district. In these four constituencies, a total of 37 primary health care centres have been selected
        by
        the organisation. The study covered primary health care centre, sub centres, villages and communities in these
        areas.
      </p>
      <p class="card-text">
        <small class="text-muted">published on 12 Aug 2017</small>
      </p>
      <po-news></po-news>
    </div>
  </div>

</div>
