.header {
  background-color: #216b07;
  .gauramarg {
    position: absolute;
    top: 0px;

  }
  .container {
    background-color: #216b07;
  }
}


nav {
  background-color: #216b07;
}

.street-button {
  color: #ffffff;
  padding: 0px 5px;
  font-size: 16px;
}

.street-view {
  color: #a6bbec;
  vertical-align: baseline;
  margin: 5px;
  font-size: 18px;
}

/*model wondow*/
.location-change-modal {
  .modal-content {
    background-color: #a6bbec;
    border-radius: 0;
    .close {
      color: white;
    }
    .modal-header {
      background-color: #a6bbec;
      color: white;
    }
    .modal-body {
      background-color: #FFFFFF;
      color: white;
    }
    .modal-footer {
      background-color: #f6f7f6;
      color: #6d6d6d;
    }
  }
}



