<div class="header">
  <gm-alerts></gm-alerts>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" [routerLink]="'/'">
        <img src="/assets/positive-odisha-logo-499x320-2.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        Positive Odisha
      </a>
      <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse"
              data-target="#gaurammargtoggle" aria-expanded="false" aria-label="Toggle navigation"
              (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
              aria-controls="gaurammargtoggle">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="gaurammargtoggle" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/events'" routerLinkActive="active">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/news'" routerLinkActive="active">Positive New</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">profile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
